* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    /* background-color:black; */
    /* These properties will be inherited by the children element */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html, body {
    height: 100%;
}

.hidden {
    display: none;
}

body {
    background-image: url(../images/pinboard-texture-1.jpg);
}

#header-title {
    width: 700px;
    display: block;
    margin: 0 auto; /*margin top and bottom, 0. margin left and right auto */
    /* box-shadow: -3px 3px 10px rgba(0,0,0,.5); */
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    /* flex wrap lets them stack when desktop squeezed */
    /* without it the items will distort */
}

article {
    width: 279px;
    height: 500px;
    /* border: 4px solid white; */
    /* border-radius: 8px; */
    /* margin: 10px; */
    text-align: left;
    margin: 20px;
}

article h2 {
    color: black;
    margin-top: 110px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    /*padding: 4px 8px;    top and bottom left and right; */
}

/* article:first-of-type {
    border: 4px solid gray;
} */

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    padding: 6px 8px;
}

#todo {
   
    background-image: url(../images/1-todo-bg.png);
    background-repeat: no-repeat;
}

#todo > h2 {
    color: red;
}

#inprogress {
    
    background-image: url(../images/2-progress-bg.png);
    background-repeat: no-repeat;
}

#inprogress > h2 {
    color: rgb(201, 174, 0);
}

#done {
    background-image: url(../images/3-done-bg.png);
    background-repeat: no-repeat;
}

#done > h2 {
    color: green;
}

.todo li:nth-child(even) { 
    background-color: rgba(254, 211, 211, 0.3);
}

/*.todo li:nth-child(4) {
    background-color: rgba(255, 255, 255, .2);
}*/

.inprogress li:nth-child(even) {
    background-color: rgba(255, 241, 178, 0.3);
}

.done li:nth-child(even) {
    background-color: rgba(203, 255, 203, 0.3);
}

/* attribute selector */
input[type="checkbox"] {
    margin-right: 8px;
}

input[type="checkbox"]:checked + span::after {
    content: "\2B50";
    /* width: 20px;
    height: 20px; */
    border-radius: 100%;
    background-color: rgb(34, 82, 255);
    /* border: 4px solid #20b320; */
    font-size: 20px;
    /* position: relative; */
    /* top: 1px; */
    /* right: 8px; */
    animation: fadeIn 0.7s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* footer > h1 {
    color: cornflowerblue;
    /* padding top right bottom left 
} */


footer{
    text-align: center;
    height: 80px;
    background-color: rgb(40,37,37);
    top: 100%;
    padding: 30px 0;
}


#footer-instruction {
    font-size: 14px;
    color: white;
}

#footer-instruction > p {
    color: rgb(157, 160, 163);
}
   

#footer-credit {
    padding: 20px 0;
    font-size: 10px;
    color: rgb(138, 138, 138);
}
   